#content1 {
    width: 90%;
    margin: 30px;
    border: 1px solid red;
}

#content1 .main-content {
    width: 100%;
    float: left;
    border: 1px solid blue;
}

#content1 .main-content .post .read-more {
    position: absolute;
    bottom: 10px;
    right: 10px;

}

#content1 .main-content .post .post-image {
    width: 30%;
    float: left;
    height: 100%;
}

#content1 .main-content .post .post-preview {
    width: 60%;
    padding: 10px;
    float: right;
}

#content1 .main-content .recent-post-title {
    margin: 20px;
    color: red;
}